@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Odeao Cinema</h1>
    <p class="lead">Faster, better booking, Download the myODEON app and get a more personalised cinema experience. </p>
    <p><a href="https://www.odeoncinemas.ie/experiences/myodeon-app/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>OFFERS & COMPETITIONS</h2>
        <p>
            You can now see all our films, as often as you like, for only €16.99 a month.

            Plus, myLIMITLESS is now available on a reduced 3 month minimum term.
        </p>
        <p><a class="btn btn-default" href="https://www.odeoncinemas.ie/offers-and-competitions/mylimitless-member-benefits/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Marvel Studios Eternals exclusive poster giveaway</h2>
        <p>To celebrate the release of ‘Marvel Studios’ Eternals’, we’ve partnered with Disney to give away an exclusive poster to guests between November 5 – November 7.</p>
        <p><a class="btn btn-default" href="https://www.odeoncinemas.ie/offers-and-competitions/marvel-studios-eternals-exclusive-poster-giveaway/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>myODEON Saver ticket</h2>
        <p>myODEON Saver tickets are available on selected showings Tuesday-Sunday and all-day on Member Monday’s, with prices starting from only €6*. </p>
        <p><a class="btn btn-default" href="https://www.odeoncinemas.ie/offers-and-competitions/myodeon-saver-ticket/">Learn more &raquo;</a></p>
    </div>
</div>